.dive-types h2 {
    background: #dfdfdf;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.dive-types h3 {
    margin-bottom: 0;
}

.dive-types table {
    border-collapse: collapse;
    margin-top: .1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.dive-description {
    text-align: left;
}

.dive-types table th,
.dive-types table td {
    border: 1px solid white;
    padding-left: .5rem;
}

.dive-types table th {
    padding: .5rem;
}

.dive-group-forward table{
    background: linear-gradient(to bottom right, #ffe6e6, lightpink);
}

.dive-group-forward th {
    background: #ff9999;
}

.dive-group-row-forward:hover {
    background: linear-gradient(to bottom right, #ffcccc, #ff9999);
}

.dive-group-back table {
    background: linear-gradient(to bottom right, #fffff0, lightyellow);
}

.dive-group-back th {
    background: #fefe8f;
}

.dive-group-row-back:hover {
    background: linear-gradient(to bottom right, #ffffe0, #ffff99);
}

.dive-group-reverse table {
    background: linear-gradient(to bottom right, #e6f0fa, lightsteelblue);
}

.dive-group-reverse th {
    background: #99c2e6;
}

.dive-group-row-reverse:hover {
    background: linear-gradient(to bottom right, #cce0f5, #99c2e6);
}

.dive-group-inward table {
    background: linear-gradient(to bottom right, #fffaf0, antiquewhite);
}

.dive-group-inward th {
    background: #ffe6cc;
}

.dive-group-row-inward:hover {
    background: linear-gradient(to bottom right, #fff5e6, #ffe6cc);
}

.dive-group-twist table {
    background: linear-gradient(to bottom right, #d0e7f9, lightblue);
}

.dive-group-twist th {
    background: #80bfff;
}

.dive-group-row-twist:hover {
    background: linear-gradient(to bottom right, #b3d1f2, #80bfff);
}