.footer {
    display: table;
    height: 5rem;
    width: 100%;
    background-color: #93B7BE

}

span {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    font-size: small;
}