.header {
    display: table;
    height: 5rem;
    width: 100%;
    background-color: rgb(53, 95, 163);
    color: white;
}

.header > h1 {
    vertical-align: middle;
    align-content: center;
}

.hamburger-icon {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  margin: 10px;
  top: 20px;
  left: 20px;
  background-color: rgb(93, 135, 203);
  padding: 2px;
}

.hamburger-icon span {
  height: 3px;
  background: black;
  border-radius: 2px;
  transition: 0.3s;
}